
<div class="App-header">
    <div class="container animated fadeIn">
        <div class="row">
            <div class="col-6">
                <h1>La comunidad de desarrolladores de Tucumán</h1>
                <br />
                <br />
                <h3><span class="App-link">+90</span> Miembros activos</h3>
                <br />
                <h3><span class="App-link">100%</span> Desarrolladores Tucumanos</h3>
                <br />
                <p class="font-weight-light">Para conocernos mejor nos reunimos cada cierto tiempo para compartir experiencias y conocimiento.</p> <p class="font-weight-light">No te pierdas estas oportunidades.</p>
                <a href="#/form" alt="registro" class="btn btn-info btn-block btn-lg">Registrate ahora</a>
            </div>
            <div class="col-6 App-image">
                <img class="figure-img img-fluid rounded" src="images/developers4.png" alt="developers"></img>
            </div>
        </div>
    </div>
        
    </div>